<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--set browser tab icon-->
    <link rel="shortcut icon" type="image/ico" href="~/images/tab_icon.jpg">
    <title>@ViewData["Title"] - Kaoru_Art_Gallery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kaoru_Art_Gallery.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Kaoru Art Gallery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>*@
                    </ul>
                    <!--Login/Logout _LoginStatusPartial.cshtml partial view goes here-->
                    <!--align item to the right using margin right mr class-->
                    <div class="mr-2">
                        <!--render the _LoginStatusPartial.cshtml partial view in 
                            account/shared/_LoginStatusPartial.cshtml
                            This is dynamic depending on the login
                            status of user. Really useful
                        -->
                        <partial name = "_LoginStatusPartial" />
                    </div>
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider"></span>
                      <span class="text"></span>
                    </label>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!--renders Index.cshtml-->
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted">
        <div class="container d-flex justify-content-center">
            <p style= "white-space:pre";>&copy; 2022 - Developed by </p>
            <a class = "text-muted hover_black" target="_blank" rel= "noreferrer"
            style="text-decoration:none;"
            href= "https://lctechnologies.azurewebsites.net/">LC Technologies</a> 
            <p style= "white-space:pre";> - Jesus Christ is King </p>
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>