@page
@model Kaoru_Art_Gallery.Pages.Account.AccessDeniedModel
@{
}
<!--dev-created file AccessDenied.cshtml for showing access denied page for unauthorized users-->
<!--To navigate to this page, the razor pages are organized by folder so go to /account/AccessDenied-->

<div>
    <h1>
        Access Denied sucka!
    </h1>
    You don't have access to this page :(
</div>