@page
@model Kaoru_Art_Gallery.Pages.Account.CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}
<!--dev-created file Login.cshtml for creating login and authorization manually-->
<!--To navigate to this page, the razor pages are organized by folder so go to/account/login-->
<div class="container" style = "padding:20px" id="createaccountform">
    <form method = "post">
        <div class="text-danger" asp-validation-summary= "ModelOnly"></div>
        <!--CREATE ACCOUNT-->
        <div class = "form-group row">
            <div class = "col-2">
                <!--Label name-->
                <label asp-for = "AccountCredential.Email"></label>
            </div>
            <div class = "col-5">
                <!--Binding-->
                <input type="text" asp-for = "AccountCredential.Email" class = "form-control"/>
                <!--requires field-->
                <span class = "text-danger" asp-validation-for="AccountCredential.Email"></span>
            </div>
        </div>
        <div class = "form-group row mt-3">
            <div class = "col-2">
                <!--Label name-->
                <label asp-for = "AccountCredential.UserName"></label>
            </div>
            <div class = "col-5">
                <!--Binding-->
                <input type="text" asp-for = "AccountCredential.UserName" class = "form-control"/>
                <!--requires field-->
                <span class = "text-danger" asp-validation-for="AccountCredential.UserName"></span>
            </div>
        </div>
        <div class = "form-group row mt-3">
            <div class = "col-2">
                <!--Label name-->
                <label asp-for = "AccountCredential.Password"></label>
            </div>
            <div class = "col-5">
                <!--Binding to hide password-->
                <input type="password" asp-for = "AccountCredential.Password" class = "form-control" />
                <!--requires field-->
                 <span class = "text-danger" asp-validation-for="AccountCredential.Password"></span>
            </div>
        </div>
        <!--register account redirect button-->
        <div class="d-flex justify-content-center mt-3">
            <a class = "btn btn-sm btn-outline-dark d-flex justify-content-center" id="loginredirect" asp-page = "/Account/Login">
            Already have an account? Login!</a>
        </div>
        <!--submit button-->
        <div class = "form-group row mt-3">
            <div class = "col-2  mt-2">
                <input type="submit" class = "btn btn-success" value = "Create Account!" />
            </div>
        </div>
    </form>
</div>