@page
@model Kaoru_Art_Gallery.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<!--dev-created file Login.cshtml for creating login and authorization manually-->
<!--To navigate to this page, the razor pages are organized by folder so go to/account/login-->
<div class="container" style = "padding:20px" id="loginform">
    <form method = "post">
        <div class="text-danger" asp-validation-summary= "ModelOnly"></div>
        <div class = "form-group row">
            <div class = "col-2">
                <!--Label name-->
                <label asp-for = "Credential.UserName"></label>
            </div>
            <div class = "col-5">
                <!--Binding-->
                <input type="text" asp-for = "Credential.UserName" class = "form-control"/>
                <!--requires field-->
                <span class = "text-danger" asp-validation-for="Credential.UserName"></span>
            </div>
        </div>
        <div class = "form-group row mt-3">
            <div class = "col-2">
                <!--Label name-->
                <label asp-for = "Credential.Password"></label>
            </div>
            <div class = "col-5">
                <!--Binding to hide password-->
                <input type="password" asp-for = "Credential.Password" class = "form-control" />
                <!--requires field-->
                 <span class = "text-danger" asp-validation-for="Credential.Password"></span>
            </div>
        </div>
        <!--Remember me check box for persistent cookies-->
        <div class = "row form-check mb-2 mt-2">
            <div class = "col-2">
                <!--check box and data binding-->
                <input type="checkbox" asp-for= "Credential.RememberMe" class = "form-check-input"/>
                <label class= "form-check-label" asp-for= "Credential.RememberMe"></label>
            </div>
        </div>
        <!--register account redirect button-->
        <div class="d-flex justify-content-center">
            <a class = "btn btn-sm btn-outline-dark d-flex justify-content-center" id="createaccountredirect" asp-page = "/Account/CreateAccount">
            New Users Create Account Here!</a>
        </div>
        <!--submit button-->
        <div class = "form-group row">
            <div class = "col-2  mt-2">
                <input type="submit" class = "btn btn-success" value = "login" />
            </div>
        </div>
    </form>
</div>