@page
@model Kaoru_Art_Gallery.Pages.LanguageModel
@{
    <!---if toggle clicked is true-->
if(false)
{
    <h1 class="display-4">
        Welcome to my Art Gallery!
    </h1>
}
    // default is Japanese
else
{
    <h1 class="display-4">
        私のアトリエにようこそ
    </h1>
}

}
